<div mat-dialog-content>
  <form [formGroup]="habladorFormulario" (ngSubmit)="crearPdf()">

    <mat-form-field class="ml-3 mr-3 mb-1">
      <mat-label>Dirección</mat-label>
      <mat-select formControlName="direccion">
        <mat-option *ngFor="let dir of direccionHablador" [value]="dir.direccion"> {{ dir.direccion }} </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <mat-form-field class="m-1" >
      <mat-label>RIF</mat-label>
      <input type="text" matInput placeholder="rif" formControlName="rif" required>
    </mat-form-field> -->

    <mat-form-field class="m-1">
      <mat-label>¿Se va por?</mat-label>
      <input type="text" matInput placeholder="medio" formControlName="medio" required>
    </mat-form-field>

    <button mat-button mat-flat-button color="primary" class="m-3" type="submit">
      <mat-icon>save</mat-icon>
      Crear PDF
    </button>

  </form>
</div>