<!-- <mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push" [ngStyle]="{width:'250px'}">
        <mat-toolbar>
            <span>Menú</span>
            <span class="spacer"></span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <mat-list-item *ngFor="let item of sidebarItems"
            [routerLink]="item.url"
            (click)="sidenav.toggle()">
            <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
            <span style="font-weight:bold">{{item.label}}</span>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <span class="mr-3">{{user()?.email_user}}</span>
        <button mat-button (click)="onLogout()">
            Cerrar Sesion
        </button>
    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container> -->

<mat-toolbar color="primary">
    <button class="m-1 pl-2 pr-2" mat-button routerLink="/rptos/inicio">
      Inicio
    </button>
    <button class="m-1 pl-2 pr-2" mat-button routerLink="/rptos/productos">
      Productos
    </button>
    <button class="m-1 pl-2 pr-2" mat-button>
      Clientes
    </button>
  
    <span class="spacer"></span>
  
    <span class="mr-3">{{user()?.email_user}}</span>
  
    <button mat-button (click)="onLogout()">
        Cerrar Sesion
    </button>
  
  </mat-toolbar>
  
  <router-outlet></router-outlet>