<h2 mat-dialog-title>Detalle de venta</h2>
<div mat-dialog-content>
  <div class="flex">
    <div class="flex flex-column">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
  
          <ng-container matColumnDef="idproducto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID del producto </th>
            <td mat-cell *matCellDef="let row"> {{row.idproducto}} </td>
          </ng-container>
  
          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> codigo </th>
            <td mat-cell *matCellDef="let row"> {{row.codigo}} </td>
          </ng-container>
  
          <ng-container matColumnDef="descripción">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> descripción </th>
            <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
          </ng-container>
  
          <ng-container matColumnDef="marca">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> marca </th>
            <td mat-cell *matCellDef="let row"> {{row.marca}} </td>
          </ng-container>
  
          <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> cantidad </th>
            <td mat-cell *matCellDef="let row"> {{row.cantidad}} </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        </table>
  
      </div>
      <div class="file-upload mt-3" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
        <label for="fileInput" class="file-upload-label">
          <span>Seleccione la(s) foto(s) del comprobante del pago</span>
          <input type="file" id="fileInput" (change)="onFileSelected($event)" multiple>
        </label>
        <button mat-raised-button color="primary" (click)="uploadImages()">Subir imágenes</button>
        <!-- Botón para limpiar los archivos cargados -->
        <button mat-raised-button color="primary" class="ml-3" *ngIf="selectedFiles.length > 0"
          (click)="clearSelectedFiles()">Limpiar archivos</button>
  
        <!-- Agregar el mensaje de archivos cargados -->
        <div *ngIf="selectedFiles.length > 0" class="file-list">
          <p>Archivos cargados:</p>
          <ul>
            <li *ngFor="let file of selectedFiles">{{ file.name }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="m-5"></div>
    <div class="flex flex-column card-container">
      <img class="mt-2" (click)="prueba()" src="https://coreanosrptos.com/api/ventas_web/uploads/comprobante_72_394472.jpeg" alt="nucita">
      <img class="mt-2" src="https://coreanosrptos.com/api/ventas_web/uploads/comprobante_72_939872.jpeg" alt="nicuta">
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close="true" color="warn">Cerrar</button>
</div>